$colors-pokemon: (
  sky: #34aadc,
  clear-sky: #4bcffa,
  energy: #ffdd57,
  sunlight: #ffd700,
  cloud: #ffffff,
);


$colors-nasa: (
  deep-unknown: #0f2027,
  subtle-space-ambiance: #203a43,
  star-light: #2c5364,
  depth-creation: #0f0c29,
  nebula-like-effect: #302b63,
  mystery-of-space: #24243e,
);

$colors-common: (
  white: #ffffff,
  black: #000000,
);

$min-tablet-breakpoint: 48rem;
$min-desktop-breakpoint: 80rem;
